source ~/.bashrc.d/gvm.bash

gofile="go.mod"

if [ -f "${gofile}" ];
then
    golangver=$(awk '/^(go)[[:space:]][1-9]+\.[1-9]+\.?[1-9]*/{print $0}' go.mod | sed 's/go[[:space:]]//')
    echo "Found ${gofile} with expectation: Go v${golangver}"
    gvm use "go${golangver}"
else
    echo "Missing go.mod file"
fi

export GOPROXY="https://proxy.golang.org,direct"
